@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  line-style: none; }

html, body {
  width: 100%;
  height: 100%; }

.header {
  width: 100%;
  height: 5.86957rem;
  background: url(../image/avatar-拷贝@2x.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  background-color: rgba(75, 74, 75, 0.2);
  /*头部右边部分*/ }
  .header .header-1 {
    width: 2.86957rem;
    height: 2.86957rem;
    background: url(../image/avatar@2x.png) no-repeat;
    background-size: cover;
    margin-top: 1.08696rem;
    float: left;
    margin-left: 1.02174rem; }
  .header .header-2 {
    width: 90%;
    height: 2.86957rem;
    float: left;
    margin-top: 1.08696rem;
    margin-left: 0.73913rem; }
    .header .header-2 p {
      font-size: 0.71739rem;
      color: #fff;
      float: left;
      margin-top: -0.1087rem; }
    .header .header-2 .header-2-1 {
      float: left;
      margin-right: 0.5rem;
      width: 1.36957rem;
      height: 0.86957rem;
      line-height: 0.86957rem;
      text-align: center;
      font-size: 0.54348rem;
      color: #fff;
      background: red; }
    .header .header-2 .header-2-2 {
      font-size: 0.63043rem;
      color: #fff;
      clear: both; }
    .header .header-2 .header-2-3 {
      width: 0.56522rem;
      height: 0.56522rem;
      background: #fff;
      line-height: 0.56522rem;
      text-align: center;
      margin-right: 0.21739rem;
      color: red;
      font-size: 0.30435rem;
      float: left;
      margin-top: 0.21739rem; }
    .header .header-2 #p {
      font-size: 0.5rem;
      color: #fff;
      line-height: 0.56522rem;
      float: left;
      margin-top: 0.21739rem; }
    .header .header-2 .header-2-4 {
      width: 1.91304rem;
      height: 1.08696rem;
      float: right;
      text-align: center;
      line-height: 1.08696rem;
      background-color: rgba(62, 51, 23, 0.2);
      border-radius: 0.5rem; }
  .header .header-3 {
    width: 100%;
    height: 1.21739rem;
    background-color: rgba(62, 51, 23, 0.2);
    position: absolute;
    bottom: 0rem;
    clear: both; }
    .header .header-3 .header-3-1 {
      width: 8%;
      height: 0.58696rem;
      background: #fff;
      color: black;
      text-align: center;
      font-size: 0.15217rem;
      line-height: 0.58696rem;
      float: left;
      margin-top: 0.36957rem;
      margin-left: 1%; }
    .header .header-3 p {
      color: #fff;
      margin-left: 1%;
      float: left;
      width: 90%;
      line-height: 1.21739rem;
      font-size: 0.26087rem; }

#nav {
  height: 1.80435rem;
  text-align: center;
  line-height: 1.80435rem;
  border-bottom: 1px solid #e5e5e5; }
  #nav a {
    display: block;
    float: left;
    width: 33%;
    height: 100%;
    color: #666;
    text-align: center; }

#ullist {
  float: left;
  width: 100%; }
  #ullist li {
    height: 2.6087rem;
    text-align: center;
    line-height: 2.17391rem;
    border-bottom: 1px solid #e8e8e8;
    width: 100%; }

#slide2 {
  height: 22.17391rem; }

#slide1 {
  width: 4rem;
  height: 100%;
  float: left; }

#p-1 {
  height: 1.08696rem;
  line-height: 1.08696rem;
  background: #cdcdcd;
  font-size: 0.65217rem;
  border-left: 2px solid #e8e8e8; }

.page {
  height: 13.04348rem; }

#img-1 {
  width: 2.5rem;
  height: 2.5rem;
  float: left;
  margin-right: 0.43478rem; }

#numenber {
  height: 2.5rem;
  width: auto;
  float: right; }
  #numenber p {
    padding: 0px 5px;
    float: left; }
  #numenber img {
    line-height: 2.5rem;
    float: left; }

#li-1 {
  margin-left: 3.04348rem; }
  #li-1 :nth-child(1) {
    color: red;
    font-size: 0.86957rem; }

.u-flyer {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  z-index: 9999; }

.footer {
  width: 100%;
  height: 2.54348rem;
  background: #333;
  position: fixed;
  bottom: 0px;
  z-index: 222; }
  .footer .footer-left {
    width: 1.91304rem;
    height: 1.91304rem;
    background: #333;
    border: 2px solid;
    float: left;
    text-align: center;
    line-height: 1.91304rem;
    border-radius: 50%;
    margin-left: 1.73913rem; }
  .footer .footer-mid {
    float: left;
    margin-left: 0.65217rem;
    line-height: 2.54348rem; }
  .footer .footer-right {
    float: right;
    width: 30%;
    background: #666;
    height: 100%;
    text-align: center;
    line-height: 2.54348rem; }

/*要提交的商品*/
.cartview-cartmask_3rV-M {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
  z-index: 10; }

#box {
  background: #fff;
  width: 100%;
  display: none;
  background: #fff;
  bottom: 2.47826rem;
  left: 0px;
  position: fixed;
  z-index: 11; }
  #box .cartview {
    background: #eceff1;
    height: 1.066667rem; }
    #box .cartview .cartview-title {
      margin-left: 0.65217rem;
      font: 12px;
      display: block;
      height: auto;
      padding-left: .133333rem;
      border-left: .093333rem solid #2395ff;
      float: left; }
    #box .cartview #clear {
      margin-right: 0.65217rem;
      display: block;
      float: right; }
  #box ul {
    width: 100%; }
    #box ul li {
      width: 100%;
      margin-top: 0.65217rem;
      position: relative;
      min-height: 1.466667rem; }
      #box ul li .cartview-name {
        margin-top: 0.21739rem;
        color: #333;
        font-size: 16px;
        padding-left: 0.65217rem;
        float: left;
        display: line-block; }
      #box ul li .cartview-price {
        color: #f60;
        font-size: 16px;
        white-space: nowrap;
        font-weight: 700;
        margin-top: 0.21739rem;
        left: 8.69565rem;
        position: absolute;
        display: line-block; }
      #box ul li .cartview-button {
        padding-right: 0.65217rem;
        line-height: 1.466667rem;
        float: right;
        display: line-block; }
        #box ul li .cartview-button img {
          float: left;
          margin-top: 0.21739rem; }
        #box ul li .cartview-button .cartview-num {
          padding: 0px 0.65217rem;
          float: left;
          display: block;
          margin-top: 0px; }
